In [2]:
# Imports
import pandas as pd

In [3]:
# Read html from website
url = "https://boardgamegeek.com/browse/boardgame"
df = pd.read_html(url)
df

[    Board Game Rank Thumbnail image  \
 0                 1             NaN
 1                 2             NaN
 2                 3             NaN
 3                 4             NaN
 4                 5             NaN
 ..              ...             ...
 101              96             NaN
 102              97             NaN
 103              98             NaN
 104              99             NaN
 105             100             NaN

                                                  Title Geek Rating Avg Rating  \
 0    Brass: Birmingham  (2018)  Build networks, gro...       8.402       8.58
 1    Pandemic Legacy: Season 1  (2015)  Mutating di...       8.362       8.52
 2    Ark Nova  (2021)  Plan and build a modern, sci...       8.348       8.54
 3    Gloomhaven  (2017)  Vanquish monsters with str...       8.323       8.56
 4    Twilight Imperium: Fourth Edition  (2017)  Bui...       8.227       8.58
 ..                                                 ...         ...        ...
 101  Aeon's End  (2016)  Mages must reach their ful...       7.594       7.88
 102  Blood on the Clocktower  (2022)  Deduce who th...       7.593       8.37
 103  Lords of Waterdeep  (2012)  Deploy agents and ...       7.587       7.73
 104  El Grande  (1995)  Use your caballeros to cont...       7.587       7.76
 105  Wingspan Asia  (2022)  Travel to Asia to disco...       7.586       8.24

     Num Voters Shop
 0        52281  NaN
 1        55653  NaN
 2        52748  NaN
 3        64948  NaN
 4        26163  NaN
 ..         ...  ...
 101      22504  NaN
 102       8242  NaN
 103      57597  NaN
 104      31179  NaN
 105       8220  NaN

 [106 rows x 7 columns]]

In [4]:
# Initial dataframe
rank_df = df[0]
rank_df = rank_df[['Board Game Rank', 'Title', 'Geek Rating', 'Avg Rating', 'Num Voters']]
rank_df.head()

,Board Game Rank,Title,Geek Rating,Avg Rating,Num Voters
0,1,"Brass: Birmingham (2018) Build networks, gro...",8.402,8.58,52281
1,2,Pandemic Legacy: Season 1 (2015) Mutating di...,8.362,8.52,55653
2,3,"Ark Nova (2021) Plan and build a modern, sci...",8.348,8.54,52748
3,4,Gloomhaven (2017) Vanquish monsters with str...,8.323,8.56,64948
4,5,Twilight Imperium: Fourth Edition (2017) Bui...,8.227,8.58,26163

In [5]:
# Describe dataframe
rank_df.describe()

,Board Game Rank,Title,Geek Rating,Avg Rating,Num Voters
count,106,106,106,106,106
unique,104,104,97,73,104
top,Expand Your Collection,Expand Your Collection,Expand Your Collection,8.42,Expand Your Collection
freq,3,3,3,4,3

In [6]:
# Use Regex to find rank rows that are not numbers
extra_rows = rank_df['Board Game Rank'].loc[rank_df['Board Game Rank'].str.match(r"\D")]
extra_rows

15                       Expand Your Collection
31    GEEK.legacyAds.push('dfp-inline-post_1');
47                       Expand Your Collection
63    GEEK.legacyAds.push('dfp-inline-post_3');
79                       Expand Your Collection
95    GEEK.legacyAds.push('dfp-inline-post_5');
Name: Board Game Rank, dtype: object

In [7]:
# Drop extra rows
trimmed_df = rank_df.drop(extra_rows.index)
trimmed_df.count()

Board Game Rank    100
Title              100
Geek Rating        100
Avg Rating         100
Num Voters         100
dtype: int64

In [8]:
# Extract year from title
trimmed_df['Year'] = trimmed_df['Title'].str.extract(r"(\d{4})")
trimmed_df.head()

,Board Game Rank,Title,Geek Rating,Avg Rating,Num Voters,Year
0,1,"Brass: Birmingham (2018) Build networks, gro...",8.402,8.58,52281,2018
1,2,Pandemic Legacy: Season 1 (2015) Mutating di...,8.362,8.52,55653,2015
2,3,"Ark Nova (2021) Plan and build a modern, sci...",8.348,8.54,52748,2021
3,4,Gloomhaven (2017) Vanquish monsters with str...,8.323,8.56,64948,2017
4,5,Twilight Imperium: Fourth Edition (2017) Bui...,8.227,8.58,26163,2017

In [13]:
# Remove year and extra text from title
trimmed_df['Title'] = trimmed_df['Title'].str.replace(r"\s\W\d{4}.*", "", regex=True)
trimmed_df.head()

,Board Game Rank,Title,Geek Rating,Avg Rating,Num Voters,Year
0,1,Brass: Birmingham,8.402,8.58,52281,2018
1,2,Pandemic Legacy: Season 1,8.362,8.52,55653,2015
2,3,Ark Nova,8.348,8.54,52748,2021
3,4,Gloomhaven,8.323,8.56,64948,2017
4,5,Twilight Imperium: Fourth Edition,8.227,8.58,26163,2017

In [ ]:
# Set types of columns
typed_df = trimmed_df.astype({
    'Board Game Rank': int,
    'Title': str,
    'Geek Rating': float,
    'Avg Rating': float,
    'Num Voters': int,
    'Year': int
})
typed_df.dtypes

Board Game Rank      int32
Title               object
Geek Rating        float64
Avg Rating         float64
Num Voters           int32
Year                 int32
dtype: object

In [15]:
# Rearranged columns
typed_df = typed_df[['Board Game Rank', 'Title', 'Year', 'Geek Rating', 'Avg Rating', 'Num Voters']]
typed_df.head()

,Board Game Rank,Title,Year,Geek Rating,Avg Rating,Num Voters
0,1,Brass: Birmingham,2018,8.402,8.58,52281
1,2,Pandemic Legacy: Season 1,2015,8.362,8.52,55653
2,3,Ark Nova,2021,8.348,8.54,52748
3,4,Gloomhaven,2017,8.323,8.56,64948
4,5,Twilight Imperium: Fourth Edition,2017,8.227,8.58,26163