In [1]:
# Imports
import pandas as pd

In [2]:
# Read html from website
url = "https://boardgamegeek.com/browse/boardgame"
df = pd.read_html(url)
df

[    Board Game Rank Thumbnail image  \
 0                 1             NaN
 1                 2             NaN
 2                 3             NaN
 3                 4             NaN
 4                 5             NaN
 ..              ...             ...
 101              96             NaN
 102              97             NaN
 103              98             NaN
 104              99             NaN
 105             100             NaN

                                                  Title Geek Rating Avg Rating  \
 0    Brass: Birmingham  (2018)  Build networks, gro...       8.402       8.58
 1    Pandemic Legacy: Season 1  (2015)  Mutating di...       8.361       8.51
 2    Ark Nova  (2021)  Plan and build a modern, sci...       8.348       8.54
 3    Gloomhaven  (2017)  Vanquish monsters with str...       8.323       8.56
 4    Twilight Imperium: Fourth Edition  (2017)  Bui...       8.227       8.58
 ..                                                 ...         ...        ...
 101  Blood on the Clocktower  (2022)  Deduce who th...       7.594       8.37
 102  Aeon's End  (2016)  Mages must reach their ful...       7.594       7.88
 103  Wingspan Asia  (2022)  Travel to Asia to disco...       7.588       8.24
 104  El Grande  (1995)  Use your caballeros to cont...       7.587       7.76
 105  Lords of Waterdeep  (2012)  Deploy agents and ...       7.587       7.73

     Num Voters Shop
 0        52374  NaN
 1        55674  NaN
 2        52866  NaN
 3        64981  NaN
 4        26196  NaN
 ..         ...  ...
 101       8299  NaN
 102      22527  NaN
 103       8262  NaN
 104      31216  NaN
 105      57627  NaN

 [106 rows x 7 columns]]

In [3]:
# Initial dataframe
rank_df = df[0]
rank_df = rank_df[['Board Game Rank', 'Title', 'Geek Rating', 'Avg Rating', 'Num Voters']]
rank_df.head()

,Board Game Rank,Title,Geek Rating,Avg Rating,Num Voters
0,1,"Brass: Birmingham (2018) Build networks, gro...",8.402,8.58,52374
1,2,Pandemic Legacy: Season 1 (2015) Mutating di...,8.361,8.51,55674
2,3,"Ark Nova (2021) Plan and build a modern, sci...",8.348,8.54,52866
3,4,Gloomhaven (2017) Vanquish monsters with str...,8.323,8.56,64981
4,5,Twilight Imperium: Fourth Edition (2017) Bui...,8.227,8.58,26196

In [4]:
# Describe dataframe
rank_df.describe()

,Board Game Rank,Title,Geek Rating,Avg Rating,Num Voters
count,106,106,106,106,106
unique,104,104,96,72,104
top,Expand Your Collection,Expand Your Collection,Expand Your Collection,8.02,Expand Your Collection
freq,3,3,3,4,3

In [5]:
# Use Regex to find rank rows that are not numbers
extra_rows = rank_df['Board Game Rank'].loc[rank_df['Board Game Rank'].str.match(r"\D")]
extra_rows

15                       Expand Your Collection
31    GEEK.legacyAds.push('dfp-inline-post_1');
47                       Expand Your Collection
63    GEEK.legacyAds.push('dfp-inline-post_3');
79                       Expand Your Collection
95    GEEK.legacyAds.push('dfp-inline-post_5');
Name: Board Game Rank, dtype: object

In [6]:
# Drop extra rows
trimmed_df = rank_df.drop(extra_rows.index)
trimmed_df.count()

Board Game Rank    100
Title              100
Geek Rating        100
Avg Rating         100
Num Voters         100
dtype: int64

In [7]:
# Extract year from title
trimmed_df['Year'] = trimmed_df['Title'].str.extract(r"(\d{4})")
trimmed_df.head()

,Board Game Rank,Title,Geek Rating,Avg Rating,Num Voters,Year
0,1,"Brass: Birmingham (2018) Build networks, gro...",8.402,8.58,52374,2018
1,2,Pandemic Legacy: Season 1 (2015) Mutating di...,8.361,8.51,55674,2015
2,3,"Ark Nova (2021) Plan and build a modern, sci...",8.348,8.54,52866,2021
3,4,Gloomhaven (2017) Vanquish monsters with str...,8.323,8.56,64981,2017
4,5,Twilight Imperium: Fourth Edition (2017) Bui...,8.227,8.58,26196,2017

In [8]:
# Remove year and extra text from title
trimmed_df['Title'] = trimmed_df['Title'].str.replace(r"\s\W\d{4}.*", "", regex=True)
trimmed_df.head()

,Board Game Rank,Title,Geek Rating,Avg Rating,Num Voters,Year
0,1,Brass: Birmingham,8.402,8.58,52374,2018
1,2,Pandemic Legacy: Season 1,8.361,8.51,55674,2015
2,3,Ark Nova,8.348,8.54,52866,2021
3,4,Gloomhaven,8.323,8.56,64981,2017
4,5,Twilight Imperium: Fourth Edition,8.227,8.58,26196,2017

In [9]:
# Set types of columns
typed_df = trimmed_df.astype({
    'Board Game Rank': int,
    'Title': str,
    'Geek Rating': float,
    'Avg Rating': float,
    'Num Voters': int,
    'Year': int
})
typed_df.dtypes

Board Game Rank      int64
Title               object
Geek Rating        float64
Avg Rating         float64
Num Voters           int64
Year                 int64
dtype: object

In [10]:
# Rearranged columns
typed_df = typed_df[['Board Game Rank', 'Title', 'Year', 'Geek Rating', 'Avg Rating', 'Num Voters']]
typed_df.head()

,Board Game Rank,Title,Year,Geek Rating,Avg Rating,Num Voters
0,1,Brass: Birmingham,2018,8.402,8.58,52374
1,2,Pandemic Legacy: Season 1,2015,8.361,8.51,55674
2,3,Ark Nova,2021,8.348,8.54,52866
3,4,Gloomhaven,2017,8.323,8.56,64981
4,5,Twilight Imperium: Fourth Edition,2017,8.227,8.58,26196

In [12]:
typed_df.to_csv("initial_dataframe", index=False)